@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
body,html{
    font-family: 'raleway';
    width: 100%;
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: grey;
    text-decoration: none;
}
.logo img{
   padding-bottom: 2px;
}
nav{
    margin-bottom: -14px;
    width: 100%;
    height: 10%;
}
header img{
    padding-left: 5%;
    padding-top: 1%;
}
.navbar{
    width: 35%;
}
header nav{
    display: flex;
}
.navbar ul{
    padding-right: 10%;
    display: flex;
    justify-content: end;
}
.navbar li{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    list-style: none;
    font-family: 'Open sans', sans-serif;
    font-weight: 100;
}
.maintext{
    justify-content: center;
    font-weight: 700;
}
.coderab{
    display: flex;
    justify-content: center;
    
    width: 100%;
    
    color: crimson;
    text-decoration: underline;
}
.hero{
    display: flex;
    max-width: 1920px;
      margin: 0 auto 0 auto;
}
.heroleft{
    padding-left: 1px;
    margin-right: 5%;
    width: 60%;
}
.heroleft img{
    padding: 1px;
    display:inline-table;
    max-width:50%;
   
}
.heroright{
    margin-left: 60%;
    position:fixed;
    width: 40%;
}
.heroright h2{
    margin-top: -20px;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 700;
}
.heroright h3{
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 100;
}
.heroright h4{
    margin-top: -40px;
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 800;
}
.heroright h5{
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
}
.heroright h6{
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight:100;
}
h6 a{
    color: black;
}
h6 a:hover{
color: grey;
}
hr{
    margin-bottom: -1px;
}

.samba{
    justify-content: center;
    margin-right: 5%;
    margin-top: 1%;
    padding-bottom: 1%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.heroleft2 h2{
    padding-left: 10px;
}
.heroleft2 h4{
    margin-top: -10px;
    font-size: 20px;
    padding-left: 10px;
}
.shoe{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    width: 22%;
}
.heroleft2 img{
    max-width:100%;
   
}

.h{
    width: 100%;
}
.h:hover{
    border: solid 1px black;
}
.welcome{
    padding-left: 5%;
    width: 100%;
    font-size: 50px;
    
}
.hero1{
    max-width: 1920px;
    margin: 0 5% 0 5%;
    
}
.content{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.heromain{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    padding-right: 10%;
}
.heromain img{
    max-width: 100%;
}
.shoe2{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    width: 15%;
}
.title{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-right: 5%;
}
.shoe2 h2{
    text-align: center;
}
button{
    width: 30%;
    margin-top: 1%;
    margin-right: 2%;
    background-color: white;
    font-family: raleway;
    padding:2%;
    border: solid 1px black;
}
button:active{
    background-color: grey;
}
